@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}
p {
  @apply opacity-75;
}
body {
 
  font-family: "Epilogue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
li {
  @apply opacity-75;
}

.navbar {
  position: absolute;
  top: -100%;
  right: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  background-color: #fff;
  padding: 1rem;

}

.navbar.open {
  background-color: #fff;
  top : 5rem;
  z-index: 99;
  right: 0;

}